$header-color: rgb(12, 131, 151);
$grey-border: 1px solid #ccc;

@media screen and (min-width: 1175px) {
  .container {
    padding-right: 20px;
  }
}

@media screen and (min-width: 500px) {
  .amount-mobile {
    display: none;
  }
}

@media screen and (max-width: 499px) {
  .amount {
    display: none;
  }
  .merchant-container {
    padding: 0;
  }

  .img {
    padding: 0 10px;
    width: 50px;
    height: 50px;
  }
}

.recent-transactions-container {
  max-width: 1100px;

  .title-container {
    display: flex;
    padding: 20px 20px;
    background-color: $header-color;

    :last-child {
      padding: 0;
      margin: 0;
      color: white;
      display: block;
      font-family: "Kanit";
      font-weight: 200;
      font-size: 20px;
      flex: 1;
      text-align: center;
    }
  }
}

.recent-transaction-ControlsAndList-container {
  background-color: white;
  padding-bottom: 20px;

  .controls {
    padding: 40px 20px;
    display: flex;

    .searchingInput {
      flex: 1;
      border: none;
      border-bottom: 1px solid #ccc;
      padding: 10px;
      font-family: "Kanit";
      font-weight: 200;
    }
  }

  @media screen and (max-width: 992px) {
    .sort-container-group {
      flex: 1;
      display: flex;
      flex-direction: column;

      .controls-btn {
        padding: 10px 10px;
        max-width: 130px;
        width: 100%;
        background-color: white;
        border: $grey-border;
      }
    }
  }

  .sort-container-group {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .sort-by {
      padding: 0;
      margin-bottom: 0;
      flex: 4;
      text-align: center;
      font-family: "Kanit";
      font-size: 15px;
      font-weight: 500;
    }
    @media screen and (min-width: 992px) {
      .controls-btn {
        border: $grey-border;
        background-color: white;
        height: fit-content;
        padding: 0 5px;
        font-size: 13px;
        height: 95%;
        font-family: "Kanit";
        font-weight: 300;
        flex: 3;
      }
    }
  }

  .transaction-item-container {
    display: flex;
    padding: 0 20px;

    .transaction-item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 10px 10px 0 10px;
      border-top: $grey-border;
      border-right: $grey-border;
      border-bottom: $grey-border;

      .transaction-info-container {
        display: flex;

        .date {
          width: 50px;
          padding: 0 25px;
          font-family: "Kanit";
          font-weight: 200;
          font-size: 15px;
        }

        .img {
          padding: 0 30px;
          width: 40px;
          height: 40px;
        }

        .merchant-container {
          padding-left: 15px;

          .merchant {
            padding: 0;
            margin: 0;
            font-family: "Kanit";
            font-weight: 400;
          }

          .transfer-type {
            margin: 0;
            font-weight: 200;
            font-size: 15px;
          }
        }
      }

      .amount-container > .amount {
        font-family: "Kanit";
        font-weight: 500;
      }
    }
  }
}
