<div [formGroup]="recentTransactionsControls">
  <div class="recent-transactions-container">
    <div class="title-container">
      <img
        src="../assets/briefcase.png"
        class="logo-recent-transactions"
        alt="img"
      />
      <p>Recent Transactions</p>
    </div>
    <div class="controls">
      <input
        class="searchingInput"
        type="text"
        placeholder="Search by typing..."
        formControlName="searchByTyping"
      />
      <div class="sort-container-group">
        <p style="padding-right: 10px">Sort by</p>
        <!-- <div formGroupName="sortByType">
        <select class="custom-select" formControlName="sortBy">
          <option *ngFor="let item of sortBy">
            {{ item }}
          </option>
        </select>
      </div> -->
        <button class="controls-btn">BENEFICIARY</button>
        <button class="controls-btn">AMOUNT</button>
      </div>
    </div>
    <div
      class="transaction-item-container"
      *ngFor="let item of transactions.items"
    >
      <div class="transaction-item">
        <div class="transaction-info-container">
          <p class="date">{{ item.transactionDate | customDate }}</p>
          <img class="img" [src]="item.merchantLogo" />
          <div class="merchant-container">
            <p class="merchant">{{ item.merchant }}</p>
            <p class="transactionType">{{ item.transactionType }}</p>
          </div>
        </div>
        <div class="amount-container">
          <div class="amount">-${{ item.amount }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
